body {
  text-align: center;
  background-image:url(photos/1.jpg);
  font-family: 'MyFont', sans-serif;
}

.firsttext{
 color: white;
 font-weight:bolder;
 font-size: 60px;
 margin-bottom: 0;
}

.yellow {
 color: #fff54f;
}

.white{
    color: white;
}

.firstrow img {
    width: 25%;
    height: auto;
}

.secondrow img {
    width: 15%;
}

.height {
    max-height: 360px;
}

.thirdrow img {
    width: 550px;
    height: 200px;
}

.fourthrow img {
    width: 20%;
    height: auto;
}

.images img {
    border-color: white;
    border-style: solid;
    border-width: 3px;
}

@font-face {
    font-family: "MyFont";
    src: url('./ofont.ru_Uncage.ttf');
}

.paragraph {
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.small {
 font-size: 18px;
}

.medium {
 font-size: 21px;
}

.large {
 font-size: 42px;
}

.space {
    margin-bottom: 20px;
}

.button {
    background-color: #fff54f;
    color: black;
    padding: 30px 64px;
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'MyFont', sans-serif;
    border: none;
}   

footer {
    margin-top: 50px;
    font-size: 14px;
    color: black;
    background-color: green;
}

footer a {
    color: #1c1d1f;
    text-decoration: none;
    margin-left: 10px;
}